<body>
    <table style="border-collapse: collapse">
        <thead>
            <tr class="tr-line">
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Lựa chọn</th>
            </tr>
        </thead>
        <tbody id="giohang">
            <tr class="tr-line"></tr>
        </tbody>
        <tr class="tr-line">
            <th colspan="1">Thành tiền</th>
            <th colspan="2" id="thanhtien">0000</th>
        </tr>
        <button id="closecart" onclick="showcart()" class="fas fa-times" style="
            position: relative;
            top: 0px;
            background-color: red;
            color: #ffff;
            font-size: 40px;
            width: 58px;
          "></button>
    </table>
</body>