<div class="footer-1">
    <ul class="cskh">
      <h3>CHĂM SÓC KHÁCH HÀNG</h3>
      <p><strong>0846549369</strong>: Hotline tư vấn</p>
      <p><strong>12 345678</strong>: Tư vấn bán hàng</p>
      <p>Thời gian làm việc: <strong>9h - 20h30</strong></p>
      <p>Email: laptop@gmail.com</p>
    </ul>
    <ul class="htkh">
      <h3>HỖ TRỢ KHÁCH HÀNG</h3>
      <li>QUY ĐỊNH SỬ DỤNG</li>
      <li>Chính sách bảo mật</li>
      <li>Điều khoản sử dụng</li>
      <li>Hướng dẫn thanh toán</li>
    </ul>
    <ul class="csach">
      <h3>CHÍNH SÁCH</h3>
      <li>Chính sách bảo hành</li>
      <li>Chính sách đổi trả hàng</li>
      <li>Chính sách bảo mật</li>
      <li>Điều khoản sử dụng</li>
    </ul>
    <ul class="mxh">
      <h3>MẠNG XÃ HỘI</h3>
    </ul>
  </div>
  <div class="footer-2">
    <div class="vanban">
      <h5>Lap 17 Store - Uy tín trong từng sản phẩm</h5>
      <p>Công ty TNHH Lap 17 Store</p>
      <p>Giấy phép ĐKHD số: 12345678</p>
      <p>
        Địa chỉ:
        <strong>12 Nguyễn Văn Bảo, Q. Gò Vấp, Hồ Chí Minh</strong>
      </p>
    </div>
    <div class="footer-img">
      <!-- <img src="/image/map.png" alt="" /> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.858589555858!2d106.686772!3d10.822132!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175296a4ce691f9%3A0x2d96eb3ef10ac151!2zMTIgTmd1eeG7hW4gVsSDbiBC4bqjbw!5e0!3m2!1sen!2sus!4v1723197234169!5m2!1sen!2sus"
         width="570" height="200" 
         style="border:0;" 
         allowfullscreen="" 
         loading="lazy" 
         referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>