<body>
    <div class="header--bank">
        <div class="adr__hotline">
            <i class="fa-solid fa-location-dot"></i>
            <span class="address">12 Nguyễn Văn Bảo, Q Gò Vấp, Hồ Chí Minh</span>
            <i class="fa-solid fa-phone-volume"></i>

            <span class="hotline">
                Hotline: <strong>08 4654 9369</strong>
            </span>
        </div>
        <div class="menu--header">
            <ul class="list-menu">
                <li>
                    <div class="form-acc" style="display: flex;  padding-right: 20px;">
                        <p>
                            <a href="/mainPage/dangki.html" style="color: orangered; text-decoration: none;">Đăng ký/</a>
                        </p>
                        <p>
                            <a href="/mainPage/dangnhap.html" style=" color: orangered; text-decoration: none;">Đăng
                                Nhập</a>
                        </p>
                    </div>
                </li>
                <li><a href="">Điều khoản</a></li>
                <li><a href="">Thanh toán</a></li>
                <li><a href="">Liên hệ</a></li>
                <li class="giohang">
                    <a onclick="showcart()">Giỏ hàng<i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>