<body>
    <div class="banker--menu">
        <div class="menu-list">
            <ul>
                <li>
                    <a class="logo" href="/index.html"><img style="height: 70px;" src="/image/Logo.png" alt="" /></a>
                </li>
                <li><a href="/index.html">TRANG CHỦ</a></li>
                <li><a href="/mainPage/gioiThieu.html">GIỚI THIỆU</a></li>
                <li>
                    <a href="">SẢN PHẨM</a>
                    <ul class="submenu">
                        <li>
                            <a href="/mainPage/laptop.html">
                                <i class="fa-solid fa-laptop"></i>
                                Laptop
                            </a>
                        </li>
                        <li>
                            <a href="/mainPage/manhinh.html">
                                <i class="fa-solid fa-desktop"></i>
                                Màn Hình
                            </a>
                        </li>
                        <li>
                            <a href="/mainPage/banphim.html">
                                <i class="fa fa-keyboard-o"></i>
                                Bàn phím
                            </a>
                        </li>
                        <li>
                            <a href="/mainPage/phukien.html">
                                <i class="fa-solid fa-headphones"></i>
                                Phụ Kiện
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-solid fa-gift"></i>
                                Khuyến mãi
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">TIN TỨC</a></li>
                <li>
                    <a href="/mainPage/thuThuat.html">GIẢI ĐÁP-THỦ THUẬT</a>
                </li>
            </ul>
        </div>
        <div class="button">
            <input type="search" name="" id="" placeholder="Tìm kiếm sản phẩm" />
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</body>